Rcpp
magrittr
MASS
munsell
colorspace
lattice
R6
foreach
stringr
plyr
dplyr
glmnet
gtable
DBI
iterators
assertthat
digest
rstan
gridExtra
tidyr
reshape2
ggplot2
codetools
inline
stringi
doMC
scales
proto
devtools
roxygen2
httr
BayesTree
broom
mgcv
mnormt
nlme
psych
scam
testthat
knitr
rmarkdown
gbm
lubridate
e1071
zoo
randomForest
xgboost
caret
mboost
extraTrees
XML
