askpass
assertthat
backports
base64enc
BH
BiocManager
bit
bit64
bitops
blob
bookdown
brew
broom
callr
caTools
cellranger
civis
cli
clipr
clisymbols
colorspace
commonmark
covr
crayon
curl
data.table
DBI
dbplyr
desc
devtools
digest
docopt
dplyr
dtplyr
ellipsis
evaluate
fansi
feather
foghorn
forcats
formatR
fs
future
generics
ggplot2
gh
git2r
globals
glue
gmailr
gtable
haven
highlight
highr
hms
htmltools
htmlwidgets
httpuv
httr
hunspell
igraph
ini
jsonlite
knitr
labeling
Lahman
later
lazyeval
lintr
listenv
littler
lubridate
magrittr
markdown
memoise
microbenchmark
mime
miniUI
mockery
modelr
munsell
nycflights13
openssl
packrat
parsedate
pillar
pingr
pkgbuild
pkgconfig
pkgdown
pkgload
PKI
plogr
plyr
praise
prettyunits
processx
progress
promises
ps
purrr
R6
rappdirs
rcmdcheck
RColorBrewer
Rcpp
RCurl
readr
readxl
rematch
rematch2
remotes
reprex
reshape2
rex
rhub
rJava
rlang
rmarkdown
rmdshower
RMySQL
roxygen2
RPostgreSQL
rprojroot
rsconnect
RSQLite
rstudioapi
rticles
rversions
rvest
scales
selectr
servr
sessioninfo
shiny
sourcetools
spelling
stringdist
stringi
stringr
sys
testit
testthat
tibble
tidyr
tidyselect
tidyverse
tinytex
tufte
usethis
utf8
viridisLite
webshot
whisker
whoami
withr
xfun
XML
xml2
xopen
xtable
yaml
base
boot
class
cluster
codetools
compiler
datasets
foreign
graphics
grDevices
grid
KernSmooth
lattice
MASS
Matrix
methods
mgcv
nlme
nnet
parallel
rpart
spatial
splines
stats
stats4
survival
tcltk
tools
utils
zoo
