car
caret
cli
doParallel
e1071
extrafont
forecast
gbm
glue
ggrepel
glmnet
gridExtra
gsubfn
gt
htmltools
leaflet
maps
packrat
patchwork
pROC
ranger
randomForest
reshape2
rgl
rgdal
rvest
RColorBrewer
RPostgreSQL
tigris
scales
sf
sqldf
sp
survey
xgboost
zoo
